[Unit]
Description=Queueman can dispatch queue data to your receiver URL via http(s) protocol
Documentation=https://github.com/marknown/queueman
After=network.target

[Service]
Type=simple
PIDFile=/var/run/queueman.pid
ExecStart=/usr/local/bin/queueman_linux -c /etc/queueman.json
ExecStop=/bin/kill -s QUIT $MAINPID
Restart=always
RestartSec=1
StartLimitInterval=0
PrivateTmp=true
#systemctl version great than 329
#StandardOutput=append:/var/log/queueman/error.log
#StandardError=append:/var/log/queueman/error.log

[Install]
WantedBy=multi-user.target